.card {
  background-color: $COlOR_BACKGROUND_SECONDARY;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 3.2rem;
  cursor: default;

  &__title {
    @include h1;
    margin-bottom: 1.6rem;
  }

  &__sub-title {
    margin-bottom: 2.4rem;

    a {
      text-decoration: underline;
    }
  }
}

.card-link {
  $self: &;
  color: $COLOR_LINK_SECONDARY;

  @include mq(lg) {
    &:hover {
      color: $COLOR_LINK_SECONDARY_ACTIVE;

      #{$self}__icon {
        border-color: $COLOR_LINK_SECONDARY_ACTIVE;

        &:before,
        &:after {
          background-color: $COLOR_LINK_SECONDARY_ACTIVE;
        }
      }
    }
  }

  &:active {
    color: $COLOR_LINK_SECONDARY_ACTIVE;

    #{$self}__icon {
      border-color: $COLOR_LINK_SECONDARY_ACTIVE;

      &:before,
      &:after {
        background-color: $COLOR_LINK_SECONDARY_ACTIVE;
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
    border: 1px solid $COLOR_LINK_SECONDARY;
    width: 3rem;
    height: 3rem;
    border-radius: 50% 50%;
    position: relative;
    transition: all $TRANSITION_DURATION;

    &:before,
    &:after {
      content: '';
      width: 15px;
      height: 2px;
      background-color: $COLOR_LINK_SECONDARY;
      transition: all $TRANSITION_DURATION;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
  }
}