footer.footer
  a.footer-logo(href="/")
    svg()
      use(xlink:href="img/sprite.svg#logo")

  ul.footer-info
    li.footer-info__item
      | Москва, 121596 ул. Горбунова, 2, стр. 3
    li.footer-info__item
      | info@mandarin.solutions +7 495 269 20 20
    li.footer-info__item
      | © ООО «Мандарин солюшенс», 2018