footer.footer
  .footer__wrap
    a.footer-logo(href="/")
      svg.footer-logo__icon
        use(xlink:href="img/sprite.svg#logo")

    ul.footer-contacts
      li.footer-contacts__item
        | Москва, 121596 ул.&nbsp;Горбунова, 2, стр.&nbsp;3
      li.footer-contacts__item
        | info@mandarin.solutions +7 495 269 20 20

    p.footer__desc
      | © ООО «Мандарин солюшенс», 2018