header.header
  .header__wrap
    nav.header-nav
      ul.header-nav__list
        li.header-nav__item
          a.header-nav__link.header-nav__link--active(href="/")
            | Главная
        li.header-nav__item
          a.header-nav__link(href="#")
            | Счета
        li.header-nav__item
          a.header-nav__link(href="#")
            | Мои услуги
        li.header-nav__item.header-nav__item--counter
          a.header-nav__link(href="#")
            | Поддержка
            span.header-nav__counter
              | 1
        li.header-nav__item
          a.header-nav__link(href="#")
            | Документация
    .header-controls
      button#header-burger.header-burger
        span.header-burger__box
          span.header-burger__inner
      .header-logo
        svg.header-logo__icon
          use(xlink:href="img/sprite.svg#logo")
      ul.header-controls__btns
        li.header-controls__item
          a.header-controls__link(href="#")
            svg.header-controls__icon
              use(xlink:href="img/sprite.svg#person")
        li.header-controls__item
          a.header-controls__link(href="#")
            svg.header-controls__icon
              use(xlink:href="img/sprite.svg#auth")